*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Raleway';
    font-size: 14px;
    line-height: 1.2;
}
header {
    width: 100%;
    position: relative;
    overflow: hidden;
}
.nav-bar{
    width: 100%;
    height: 68px;
    background-color: rgba(177, 227, 247, transparent);
    display: flex;
    align-items: center;
    cursor: pointer;
    position: fixed;
    padding: 0;
    top: 0;
    z-index: 20;
}
.logo{
    font-size: 30px;
    margin-left: 5%; 
}
.open-slide{
    position: absolute;
    font-size: 24px;
    right: 5%;
    z-index: 30;
}

#slide-menu{
    position: fixed;
    width: 100%;
    height: 350px;
    background-color: rgb(139, 175, 175);
    top:68px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
    text-align: center;
    opacity: 0;
    z-index: 400;
}

#slide-menu .slide-menu-list a{
    text-decoration: none;
    font-size: 14px;
    text-transform: capitalize;
    color: #000;
    font-weight: 500;
    padding: 15px 0;
    letter-spacing: 2px;
}
#slide-menu .slide-menu-list a:hover{
    opacity: .5;
}
#slide-menu .slide-menu-list{
    display: flex;
    flex-direction: column;
}
#slide-menu .slide-menu-list .icon{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    align-items: center;
}
#slide-menu .logo{
    margin:0 auto;
    cursor: pointer;
}
#slide-menu .slide-menu-list .icon li{
    list-style: none;
}
#slide-menu .slide-menu-list .icon li a i{
    font-size: 25px;
    padding: 10px 20px;
    color: #fff;
}
#slide-menu a.btn-close{
    position: absolute;
    top:5%;
    right: 5%;
    text-decoration: none;
    font-size: 50px;
    color: #000;
}

/** SHOWCASE **/
#showcase{
    background-image: url('showcase.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#showcase .showcase-wrap{
    margin-left:35%;
    animation-name: bounce;
    animation-delay: 3s;
    animation-duration: 5s;
}
#showcase .showcase-wrap p{
    font-size:2vw;
    font-weight: 800;
    text-transform: uppercase;
    letter-spacing: -0.5px;
    padding-bottom: 10px;
}
#showcase .showcase-wrap h1{
    font-size: 5vw;
    font-weight: 800;
    text-transform: capitalize;
    padding-bottom: 40px;
   
}
#showcase .showcase-wrap a{
    background: #fff;
    text-decoration: none;
    border-radius: 50px;
    padding: 15px 30px;
    font-size: 12px;
    text-transform: capitalize;
    color: #000;
    
}
#showcase .showcase-wrap a:hover{
    background: rgba(255, 255, 255, 0.5);
    
}

/**SECTION-1 **/
.section-1{
    width: 100%;
    height: 70vh;
    background-color: rgba(255, 255, 255, 0.1);
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    overflow: hidden;
}
.section-wrap  {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

}
.section-title{
    font-size: 34px;
    font-weight: 800;
    text-transform: capitalize;
}
.section-content{
    width: 80%;
    font-size: 16px;
    padding: 40px 50px;
    text-align: center;
    line-height: 1.8;
}
/***SECTION-2***/
.section-2{
    width: 100%;
    height: 20vh;
    background-color:  #8bafaf;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}
.section-description{
    font-size: 4vw;
    font-weight: 800;
    color: #fff;
}
/***SECTION-3***/
.section-3{
    width: 100%;
    height: 800px;
    overflow: hidden;
    position: relative;
    display: flex;
}
.card-list{
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
.section-3 .card{
    width: 30%;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    background: #92e0e0;
    text-align: center;
    box-shadow: 1px 5px 19px #8bafaf;
}
.section-3 .card:hover{
    background: rgba(146, 224, 224, 0.5);
    box-shadow: 3px 10px 30px #8bafaf;
    opacity: 0.7;
}
.section-3  .card-list .card img{
    width: 100%;
    height: 200px;
    margin-top: -30%; 
}
.section-3 .card .card-title{
    display: flex;
    font-size: 18px;
    text-transform: uppercase;
    padding: 20px 20px 30px 20px;
}
.section-3 .card .card-description{
    padding: 1% 3%;
    display: flex;
}
/***SECTION-4***/
.section-4 {
    width: 100%;
    height: 700px;
    background: rgba(0,0,0,.1);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
}
.section-4 .section-wrap{
    width: 100%;
    height: 700px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.section-4 .section-gallery{
    display: flex;
    width: 80%;
    flex-wrap: wrap;
    margin-top: 40px;
    justify-content: center;
    align-items: center;
}
.section-4 .section-gallery img{
    width: 18vw;
    height: 200px;
    padding: 5px;
}
.section-4 .section-gallery img:hover{
    transform: scale(0.9, 0.9);
    transition: .5s;
    opacity: .8;
}
/**SECTION-5**/
.section-5{
    width: 100%;
    height: 30vh;
    background:#8bafaf;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    position: relative;
}
.container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    align-content: center;
}
.section-5 .container p{
    color: #fff;
    font-weight: 500;
    font-size: 18px;
}
.section-5 .hire{
    padding-right: 50px;
}
.section-5 .btn{
    background: #fff;
    border-radius: 50px;
    padding: 15px 40px;
    font-weight: 500;
    font-size: 12px;
    text-transform: capitalize;
    cursor: pointer;
}
.section-5 .btn:hover{
    opacity: .8;
}
/***SECTION-6***/
.section-6{ 
    width: 100%;
    height: 600px;
    background: #e3e3e3;
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
.section-6 .section-wrap{
    width: 100%;
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.section-6 .card-list{
    display: flex;
    width: 90%;
    justify-content: center;
    flex-direction: row;
}
.section-6 .card{
    width: 20%;
    position: relative;
    margin-top: 40px;
}
.card-number{
    font-size: 60px;
    color: #92e0e0;
    font-weight: 800;
}
.section-6 h2{
    position: absolute;
    top: 30px;
    left: 20px;
    text-transform: uppercase;
    font-size: 16px;
}
.section-6 p{
    padding: 20px;
    text-align: left;
    margin-bottom: 30px;
}
.section-6 a{
    background: #92e0e0;
    text-decoration: none;
    color: #000;
    padding: 15px 30px;
    border-radius: 50px;
    font-size: 12px;
}
.section-6 .btn-2:hover{
    opacity: 0.7;
}
/***SECTION-7***/
.section-7{
    width: 100%;
    height: 600px;
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
.section-7 .section-wrap{
    width: 100%;
}
.section-7 iframe{
    width: 100%;
    height: 400px;
    padding-top: 40px;
}
/**FOOTER**/
footer{
    width: 100%;
    height: 160px;
    background: rgba(139, 175, 175, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}
footer .section-wrap{
    width: 80%;
    flex-direction: row;
}
footer .logo{
    margin-left:-5%;
}
footer .footer-trademark{
    text-align: center;
    font-size: 12px;
}
footer .social-media-list{
    display: flex;
    list-style: none;
    justify-content: space-around;
}
footer .social-media-list i{
    font-size: 30px;
    color: #000;
    padding: 0 10px;
    cursor: pointer;
}
footer .social-media-list i:hover{
    opacity: .7;
}

/****ANIMATION***/
@keyframes bounce{
    0%{transform: translate(0, 0);}
    25%{transform: translate(0, 50px);}
    50%{transform: translate(0, 0);}
    75%{transform: translate(0, -20px);}
    100%{transform: translate(0, 0);}
}
@media (max-width: 800px){
    .section-3{
        width: 100%;
        height: 240vh;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .section-3 .section-wrap{
        width: 100%;
        height: 240vh;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        align-content: center;
    }
    .section-3 .section-title{
        padding: 40px 0;
    }
    .section-3 .card-list{
        display: flex;
        justify-content: center;
    }
    .section-3 .card{
        height: 50vh;
        width: 80%;
        display: flex;
        margin: 40px      
    }
    .section-4{
        width: 100%;
        height: 200vh;
        display: flex;
    }
    .section-4 .section-gallery img{
        width: 35vw;
        height: 200px;
        padding: 5px;
    }
    .section-5 {
        width: 100%;
    }
    .section-5 .section-wrap{
        margin: 0 5%;
    }
    .section-6 {
        width: 100%;
        height: 140vh;
        display: flex;
        justify-content: center;
        align-content: center;
        align-items: center;
    }
    .section-6 .section-wrap .section-title{
        text-align: center;
    }
    .section-6 .section-wrap{
        display: flex;
        justify-content: center;
        align-content: center;
        align-items: center;
        height: 140vh;
    }
    .section-6 .section-wrap .card{
        width: 40%;
    }
    .section-6 .section-wrap p{
        font-size: 12px;
    }
}
@media (max-width: 600px){
    .section-4 .section-gallery img{
        width: 35vw;
    }
    .section-5 .section-wrap .btn{
        padding: 10px 15px;
    }
    .section-6 {
        height: 200vh;
    }
    .section-6 .section-wrap .card{
        width: 60%;
    }
    .section-6 .section-wrap .card-description{
        font-size: 12px;
        padding: 15px 0;
        margin-bottom: 10px;
    }
    .section-6 .section-wrap .btn-2{
        padding: 10px 15px;
        margin-bottom: 20px;
    }
    footer .section-wrap{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
        align-items: center;
    }
    footer .section-wrap .logo{
        order:1;
        display: flex;
        font-size: 16px;
        padding: 10px 0;
        margin-left: 3px;
    }
    footer .section-wrap .social-media-list{
        order: 2;
    }
    footer .section-wrap .social-media-list i{
        font-size: 18px;
    }
    footer .section-wrap .footer-trademark{
        order: 3;
        font-size: 10px;
    }
}