*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Raleway';
    font-size: 14px;
    line-height: 1.2;
    background: #fff;
}
/***GLOBAL**/

section{
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}
.section-wrap{
    width: 90%;
    margin: auto;
}
.section-title{
    font-size: 34px;
    font-weight: 800;
    text-transform: capitalize;
    text-align: center;
    padding-bottom: 40px;
}
.btn{
    background: #fff;
    text-decoration: none;
    border-radius: 50px;
    padding: 15px 30px;
    font-size: 12px;
    text-transform: capitalize;
    color: #000;  
    font-weight: 300;
}
.btn-2{
    background: #92e0e0;
    text-decoration: none;
    border-radius: 50px;
    padding: 15px 30px;
    font-size: 12px;
    text-transform: capitalize;
    color: #000;  
    font-weight: 300;
}
.card-title{
    font-size: 20px;
    font-weight: 800;
    text-transform: capitalize;
    text-align: center;
    padding-bottom: 20px;
}
/***HEADER***/

header {
    width: 100%;
    position: relative;
    overflow: hidden;
}
.nav-bar{
    width: 100%;
    min-height: 68px;
    background-color: rgba(177, 227, 247, transparent);
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    cursor: pointer;
    position: fixed;
    padding: 0;
    top: 0;
    z-index: 20;
}
.logo{
    font-size: 30px;
    margin-left: 5%;
}
.open-slide{
    font-size: 24px;
    margin-right: 5%;
    z-index: 30;
}
#slide-menu{
    position: fixed;
    width: 100%;
    height: 350px;
    background-color: rgb(139, 175, 175);
    top:68px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
    text-align: center;
    opacity: 0;
    z-index: 400;
}
#slide-menu .slide-menu-list a{
    text-decoration: none;
    font-size: 14px;
    text-transform: capitalize;
    color: #000;
    font-weight: 500;
    padding: 15px 0;
    letter-spacing: 2px;
}
#slide-menu .slide-menu-list a:hover{
    opacity: .5;
}
#slide-menu .slide-menu-list{
    display: flex;
    flex-direction: column;
}
#slide-menu .slide-menu-list .icon{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    align-items: center;
}

#slide-menu .slide-menu-list .icon li{
    list-style: none;
}
#slide-menu .slide-menu-list .icon li a i{
    font-size: 25px;
    padding: 10px 20px;
    color: #fff;
}
#slide-menu a.btn-close{
    position: absolute;
    top:5%;
    right: 5%;
    text-decoration: none;
    font-size: 50px;
    color: #000;
}


/** SHOWCASE **/
#showcase{
    background-image: url('showcase.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    min-height: 700px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#showcase .showcase-wrap{
    margin-left:35%;
    animation-name: bounce;
    animation-delay: 3s;
    animation-duration: 5s;
}
#showcase .showcase-wrap p{
    font-size:2vw;
    font-weight: 800;
    text-transform: uppercase;
    letter-spacing: -0.5px;
    padding-bottom: 10px;
}
#showcase .showcase-wrap h1{
    font-size: 5vw;
    font-weight: 800;
    text-transform: capitalize;
    padding-bottom: 40px;
}
#showcase .showcase-wrap a:hover{
    background: rgba(255, 255, 255, 0.5);   
}

/**SECTION-1 **/
#section-1{
    min-height: 400px;
    background-color: rgba(255, 255, 255, 0.1);
}
#section-1 .section-wrap{   
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
}
.section-content{
    width: 80%;
    font-size: 16px;
    text-align: center;
    line-height: 1.8;
}
/***SECTION-2***/
#section-2{
    width: 100%;
    min-height: 100px;
    background-color:  #8bafaf;  
    text-align: center; 
}
.section-description{
    font-size: 4vw;
    font-weight: 800;
    color: #fff;
}
/***SECTION-3***/
#section-3{
    width: 100%;
    min-height: 600px;
    overflow: hidden;
    position: relative;
}
#section-3 .section-wrap{
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    flex-direction: column;
}
#section-3 .card-list{
    width: 90%;
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center
}
#section-3 .card{
    width: 30%;
    min-height: 400px;
    background: #92e0e0;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-content: center;
    overflow: hidden;
    box-shadow: 1px 5px 19px #8bafaf;
}
#section-3 .card:hover{
    background: rgba(146, 224, 224, 0.5);
    box-shadow: 3px 10px 30px #8bafaf;
    opacity: 0.7;
}
#section-3 img{
    height: 200px;
    margin-top: -30%;
}
#section-3 .card-title{
    padding-top: 20px;
}
#section-3 .card-description{
    padding: 0 20px;
}
/***SECTION-4***/
#section-4 {
    width: 100%;
    min-height: 600px;
    background: rgba(0,0,0,.1);
    position: relative;
    overflow: hidden;
}
#section-4 .section-wrap{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
}
#section-4 .section-gallery{
    display: flex;
    width: 80%;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    align-content: center;
}
#section-4 .section-gallery img{
    width: 19vw;
    height: 28vh;
    padding: 5px 0;
}
#section-4 .section-gallery img:hover{
    transform: scale(0.9, 0.9);
    transition: .5s;
    opacity: .8;
}
/**SECTION-5**/
#section-5{
    width: 100%;
    min-height: 180px;
    background:#8bafaf;
}
.container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    align-content: center;
}
#section-5 .container p{
    color: #fff;
    font-weight: 500;
    font-size: 18px;
}
#section-5 .hire{
    padding-right: 50px;
}

#section-5 .btn:hover{
    opacity: .8;
}
/***SECTION-6***/
#section-6{ 
    width: 100%;
    min-height: 600px;
    background: #e3e3e3;
    overflow: hidden;
}
#section-6 .section-wrap{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-direction: column;
}
#section-6 .card-list{
    display: flex;
    width: 90%;
    justify-content: center;
    flex-direction: row;
}
#section-6 .card{
    width: 20%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 0 20px;
}
#section-6 .card-number{
    position: absolute;
    top: -23px;
    left:0;
    font-size: 80px;
    color: #92e0e0;
    font-weight: 800;
    align-items: left;
}
#section-6 h2{
    text-transform: uppercase;
    font-size: 16px;
    margin: 20px 0;
    z-index: 2;
}
#section-6 p{
    padding: 20px;
    text-align: center;
    margin-bottom: 30px;
}
#section-6 a{
    background: #92e0e0;
    text-decoration: none;
    color: #000;
    padding: 15px 30px;
    border-radius: 50px;
    font-size: 12px;
    text-align: center;
}
#section-6 .btn-2:hover{
    opacity: 0.7;
}
/***SECTION-7***/
#section-7{
    width: 100%;
    min-height: 600px;
    overflow: hidden;
}
#section-7 .section-wrap{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#section-7 iframe{
    overflow: hidden;
    width: 100%;
    height: 400px;
}
/**FOOTER**/
footer{
    width: 100%;
    min-height: 160px;
    background: rgba(139, 175, 175, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}
footer .section-wrap{
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
}
footer .logo{
    margin-left: -5%;
}
footer .footer-trademark{
    text-align: center;
    font-size: 12px;
}
footer .social-media-list{
    display: flex;
    list-style: none;
    justify-content: space-around;
}
footer .social-media-list i{
    font-size: 30px;
    color: #000;
    padding: 0 10px;
    cursor: pointer;
}
footer .social-media-list i:hover{
    opacity: .7;
}

/****ANIMATION***/
@keyframes bounce{
    0%{transform: translate(0, 0);}
    25%{transform: translate(0, 50px);}
    50%{transform: translate(0, 0);}
    75%{transform: translate(0, -20px);}
    100%{transform: translate(0, 0);}
}


@media (max-width: 769px){
    #section-1 .section-wrap{
        margin: 20px 0;
    }
    #section-3{  
        min-height: 800px;
    }
    #section-3 .card-list{
        display: flex;
        flex-direction: column;
    }
    #section-3 .card{
        width: 100%;
        min-height: 200px;
        margin: 10px 0;
        position: relative;
    }
    #section-3 .card img{
        width: 40%;
        position: absolute;
        top:0;
        left:0;
        margin: 0;
        padding: 0;
    }
    #section-3 .card h2, #section-3 .card p{
        width: 60%;
        position: absolute;
        top: 0;
        right: 0;
    }
    #section-3 .card p{
        margin-top: 20%;
    }
    #section-4 {
        min-height: 880px;
    }
    #section-4 .section-gallery{
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: center;
    }
    #section-4 .section-gallery img{
        width: 200px;
        height: 150px;
        margin: 0 10px;
    }
    #section-5 .container{
        display: flex;
        flex-direction: column;
        text-align: center;
        justify-content: center;
        align-items: center;
        margin: 0;
    }
    #section-5 .hire{
        margin: 0;
        padding: 0;
    }
    #section-5 .btn{
        margin-top: 10px;
    }
    #section-6{
        min-height: 800px;
    }
    #section-6 .section-wrap{
        margin: 20px;
    }
    #section-6 .card-list{
        display: flex;
        flex-direction: column;
    }
    #section-6 .card{
        width: 100%;
        min-height: 200px;
        margin: 20px 0;
        border-bottom: 1px solid rgba(0,0,0, .3)
    }
    #section-6 .card-number{
        width: 100%;
        text-align: center;
    }
    #section-6 .card-title{
        position: absolute;
        top: 0;
    }
    #section-6 .card-description{
        width: 60%;
        position: absolute;
        left: 0;
        margin-top:10px;
    }
    #section-6 .btn-2{
        width: 30%;
        position: absolute;
        right: 0;
        margin-top: 10px;
    }
    footer .section-wrap{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
        align-items: center;
    }
    footer .section-wrap .logo{
        order:1;
        display: flex;
        font-size: 16px;
        padding: 10px 0;
        margin-left: 3px;
    }
    footer .section-wrap .social-media-list{
        order: 2;
    }
    footer .section-wrap .social-media-list i{
        font-size: 18px;
    }
    footer .section-wrap .footer-trademark{
        order: 3;
        font-size: 10px;
    }
}
@media (max-width: 400px){
    #section-1 p{
        font-size: 12px;
    }
    #section-3 p, #section-6 p {
        font-size: 10px;
    }
    #section-6 a{
        font-size: 10px;
        padding: 10px 10px;
    }
}
